* {
    margin: 0px;
    padding: 0px;
    font: 400 22px 'dm sans';
}

.logo-img {
    background-repeat: no-repeat;
    width: 64px;
    height: 48px;
    background-image: url(./img/hs..svg);
}

header nav {
    display: flex;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    width: 1120px;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    background: #E5E5E5;
    padding: 15px 0px;
    z-index: 1;
    align-items: center;
}

header nav p {
    font: 500 22px 'dm sans';
    color: #181717;
}

header nav p:not(last-child) {
    margin-right: 29px;
}

body {
    width: 1120px;
    margin: auto;
    background: #E5E5E5;
}

main {
    margin-top: 160px;
}

section {
    justify-content: space-between;
    display: flex;

}

.contact-form h1 {
    font: 500 60px 'dm sans';
}

.contact-form p {
    color: #606060;
}

.contact-form input {
    width: 676px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    padding-left: 22px;
}

.contact-form {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn {

    background-color: #181717;
    height: 50px;
    width: 174px;
    border-radius: 5px;

}

.btn p {
    margin: 8px 0px;
    text-align: center;
    font: 700 25px 'DM Sans';
    color: #FFFFFF;
}

.contact-info {
    max-width: 400px;
    margin: auto;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-info p {
    color: #606060;
}

footer {
    margin-top: 110px;
    display: flex;
    justify-content: space-between;
}

footer nav {
    display: flex;
}

footer nav p/*:not(:last-child)*/ {
    margin-right: 32px;
}
@media screen and (max-width: 600px) {
    header{
        width:600px;
    }
    main{
        margin-top: 120px;
    }
    main h1{
        font-size: 45px;
    }
    footer{
        width: 600px;
    }
    section{
        display: block;
    }
    .contact-form{
        margin-left: 10px;
    }
    .contact-info{
        margin-left: 10px;
        margin-top: 10px;
    }
    .contact-form input {
        width: 500px;
    }
}